div{
  color: red
}

.firstdiv{
  color: orange;
  font-family: monospace;
  font-weight: bolder;
}

.seconddiv{
  color: violet;
  font-family: sans-serif;
  font-weight: bold;
}

#singledout{
  border-color: grey;
  border-style: ridge;
  border-width: medium;
  border-radius: 4px;
  text-decoration: underline;
}
